    <header>
      <h1>Hydrane Angular 8 Frontend Dev CS</h1>
    </header>
    <button class="button" (click)="fetchDataPromise()">Go</button>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="continentName">
      <mat-header-cell *matHeaderCellDef>Continent Name </mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country.continentName}} </mat-cell>
    </ng-container>
      <ng-container matColumnDef="countryName">
        <mat-header-cell *matHeaderCellDef>Country Name </mat-header-cell>
        <mat-cell *matCellDef="let country"> {{country.countryName}} </mat-cell>
    </ng-container>
      <ng-container matColumnDef="areaInSqKm">
        <mat-header-cell *matHeaderCellDef>Area In SqKm </mat-header-cell>
        <mat-cell *matCellDef="let country"> {{country.areaInSqKm}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="population">
      <mat-header-cell *matHeaderCellDef>Population </mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country.population}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>

</div>





